<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>MAJ Marque</title>
    </head>
    <body>
        {{ form_start(form) }}
        <p>
            {{ form_row(form.Name) }}
        </p>
        {{ form_end(form) }}
    </body>
</html>
