<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>MAJ Marque</title>
    </head>
    <body>
        {% block body %}
            {{ form_start(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </body>
</html>
