<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Types de véhicules</title>
    </head>
    <body>
        <h1>Type de véhicule :</h1><br>
        <table>
            <a href="{{ path('create_kind') }}">Création d'un type</a>
            {% for inter in Kind %}
                <tr>
                    <th>{{ inter.Type }} <a href="{{ path('update_kind', {'id': inter.id }) }}">Modfier</a> <a href="{{ path('delete_kind', {'id': inter.id }) }}"> Supprimer</a></th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
