<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Types de véhicules</title>
    </head>
    <body>
        <h1 class="d-flex justify-content-center">Type de véhicule :</h1><br>
        <table class="table">
            {% for inter in Kind %}
                <tr>
                    <th scope="row" class="text-center">{{ inter.Type }}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
