<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Création d'une couleur</title>
    </head>
    <body>
        {% block body %}
            {{ form(form) }}
        {% endblock %}
    </body>
</html>
