<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Nos models</title>
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <h1 class="d-flex justify-content-center">Toutes nos Modèles :</h1><br>
        <table class="table">
            {% for inter in Color %}
                <tr>
                    <th scope="row" class="text-center">{{ inter.Name }}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
